#nodes-panel {
    position: absolute;
    padding-left: 10px;
}

#nodes-panel button {
    background-color: var(--antracite-dark);
    color: var(--white);
    min-width: 40px;
    min-height: 40px;
    border-radius: 5px;
}