#nodes-panel {
    position: absolute;
    /* height: 100vh; */
    display: flex;
    align-items: center;
}

#nodes-panel button {
    background-color: var(--antracite-dark);
    border-color: var(--white);
    color: var(--white);
    min-width: 40px;
    min-height: 40px;
    border-radius: 5px;
}

#nodes-panel .create-gizmo-button-wrapper button {
    background-color: var(--white);
    border-color: var(--antracite-dark);
    color: var(--antracite-dark);
    min-width: 40px;
    min-height: 40px;
    border-radius: 5px;
}